html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
}

@font-face {
  font-family: 'Trash';
  src: url('../fonts/trash-medium-webfont.woff2') format('woff2'),
    url('../fonts/trash-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Trash';
  src: url('../fonts/trash-bold-webfont.woff2') format('woff2'),
    url('../fonts/trash-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Univers';
  src: url('../fonts/UniversLTStd.woff2') format('woff2'),
    url('../fonts/UniversLTStd.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UniversLTStd';
  src: url('../fonts/UniversLTStd-Bold.woff2') format('woff2'),
    url('../fonts/UniversLTStd-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
