@font-face {
  font-family: 'Trash';
  src: url('../fonts/trash-medium-webfont.woff2') format('woff2'),
    url('../fonts/trash-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
