@value large from "../../../assets/styles/breakpoints.module.css";

.eyebrow {
  font-family: Trash;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: -0.3px;
  color: var(--eggshell);
}

@media (large) {
  .eyebrow {
    font-size: 2.6rem;
    letter-spacing: -0.6px;
  }
}
