.number {
  display: inline-block;
  vertical-align: middle;
  width: 4.4rem;
  height: 4.4rem;
  line-height: 4.4rem;
  border-radius: 50%;
  text-align: center;
  font-family: Trash;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: -0.63px;
  background-color: var(--dusk-blue);
  color: var(--rose-pink);
}
